.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border-color: transparent;
}
input:hover, input:focus {
    border-color: transparent;
}

.input {
    width: 250px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border-color: lightslategray;
}

.input:hover, .input:focus {
    border-color: aqua;
}

.btn {
    width: 100px;
    display: block;
    padding: 5px;
    border-radius: 10px;
    background-color: paleturquoise;
}
.btn:hover {
    background-color: palevioletred;
}